.container{
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
    height: 95vh;
}

#myChart{
    background-color: rgba(255,255,255,0);
    border-radius: 1vmin;
    width: 100%;
    height: 100%;
}
